@font-face {
	font-family: 'Work Sans';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(/fonts/work-sans-variable.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
	font-family: 'Inter';
	font-style: normal;
	font-weight: 100 900;
	font-display: swap;
	src: url(inter-variable.woff2) format('woff2');
	unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

:root {
	--accent-red: color(display-p3 1 0 0 / 1);
	--text: color(display-p3 0 0 0 / 1);
}

* { box-sizing: border-box; }

html {
	font: 100%/1.4 'Inter', system-ui, sans-serif;
	color: var(--text);
}

a {
	color: var(--accent-red);
	text-decoration: none;
}

dl {
	display: grid;
	grid-template-columns: 1fr 2fr;
}

h1, h2, h3 {
	font-weight: 550;
}

:is(dd, dt) {
	margin: 0;
	padding-block: 0.4em 0.45em;
}

:is(dd, dt):nth-of-type(n+2) {
	border-block-start: 2px solid currentColor;
}

dt { font-weight: 550; }

#container {
	width: min(96%, 60ch);
	margin: 2rem auto 6rem;
	display: grid;
	grid-template-columns: 1fr;
}

#container > * {
	outline: 0px solid red;
}

header .signet {
	width: 200px;
	height: auto;
}

.signet .letter { fill: var(--text); }
.signet .logo { fill: var(--accent-red); }

nav ul {
	list-style: none;
	padding: 0;
	display: flex;
	gap: 1rem;
}

nav ul li {
	text-transform: uppercase;
	font-weight: 550;
	text-align: center;
}

nav ul a {
	display: block;
	font-size: 0.9rem;
	color: var(--text);
	padding: 0.2em 0.6em;
	border: 2px solid currentColor;
}

nav ul a:hover {
	background: var(--accent-red);
	border-color: var(--accent-red);
	color: #fff;
}

nav ul + h2 {
	font-size: 1.17em;
	margin-block-start: 2rem;
}

main h3:first-of-type {
	font-size: 1.5em;
}

main h3:nth-of-type(n+2) {
	margin-block-start: 4rem;
}

main em { font-weight: bold; font-style: normal; }

footer {
	margin-block-start: 5rem;
}

.footer-nav a {
	color: currentColor;
	text-decoration: underline;
}
